@font-face {
    font-family: 'Nunito Sans';
    font-weight: normal;
    font-style: normal;
    src: url(./fonts/nunito_sans.woff2) format('woff2'), url(./fonts/nunito_sans.woff) format('woff');
}

body {
    margin: 0;
    font-family: 'Nunito Sans';
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}